/* --- Core values --- */
#core-values {
    padding: 100px 0;
    background-color: $color-cta-green;
    color: white;

    .row {
        margin-top: 50px;
    }

    svg {
        fill: white;

        @media screen and (max-width: $max-width-sm) {
            height: 60px;
            width: 60px;
        }
    }

    h3 {
        font-size: 24px;
        margin: 20px 0 0 0;
        
        @media screen and (max-width: $max-width-md) {
            font-size: 22px;
        }
    }

    p {
        margin: 20px auto;
        line-height: 1.4;

        @media screen and (max-width: $max-width-sm) {
            margin: 10px auto 20px;
        }
    }

    .core-values-pod.column.col-3 {
        text-align: center;
        padding: 0 32x;

        @media screen and (max-width: $max-width-sm) {
            padding: 0 6px;
        }
    }

    @media screen and (max-width: $max-width-md) {
        #core-values-pods {
            margin-bottom: -25px;

            .core-values-pod {
                margin-bottom: 25px;
            }
        }
    }
}