@import './utilities/variables';
@import './base/spectre-overrides';
@import './base/common';
@import './components/button';
@import './components/logo-bar';
@import './components/mob-menu';
@import './components/nav-bar';
@import './components/hero';
@import './components/about-us';
@import './components/core-values';
@import './components/services';
@import './components/testimonials';
@import './components/contact-us';
@import './components/map';
@import './components/awards';
@import './components/footer';

/* --- Service pages --- */
#main-content {
    margin: 50px 0;
    min-height: 65vh;

    @media screen and (max-width: $max-width-sm) {
        min-height: 75vh;
    }

    section {
        margin-bottom: 3rem;

        h2 {
            text-align: left;
            font-size: 24px;
        }
    }
}


/* --- Media queries --- */
#about-us, #core-values, #services, #testimonials, #contact-us , #awards {
    @media screen and (max-width: $max-width-md) {
        padding: 80px 0;

        &#contact-us {
            padding-bottom: 0;
        }

        @media screen and (max-width: $max-width-sm) {
            padding: 50px 0;
        }
    }
}